<header class='top-page-header'>
  <%= link_to root_path, class:"top-img-content" do %>
    <%= image_tag("abstract-1751204_1280.png", class:"okodukai-icon") %>
    <h1 class="top-okodukai">おこづかいちょう</h1>
  <% end %>
</header>