/* 背景画像 */
body {
  background: url('cat-2571971_1920.jpg');
  height: 100vh;
  background-size: cover;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
body:before {
  content: '';
  background: inherit;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  top:  -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}
/* 背景画像ここまで */

/* メイン */
.main {
  height: calc(100% - 100px);
}
/* 目標 */
.goal-contents {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.goal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.goal-title {
  padding: 10px;
  /* border-bottom: double 5px black; */
  border-radius: 20px;
  background-color: green;
  color: white;
}
.goal-contents > p {
  font-size: 25px;
  margin: 20px 0;
}
.goal-text {
  /* padding-left: 190px; */
  width: 60%;
}
.input-box {
  width: 80%;
  border: none;
  outline: none;
  text-align: center;
  /* vertical-align: middle; */
  background: #fff0cd;
  box-shadow: 0px 0px 0px 5px #fff0cd;
  border: dashed 2px white;
  /* padding: 0.2em 0.5em; */
  padding: 20px 0 0;
  font-weight: bold;
}
.btn-hidden {
  margin-top:  15px;
  border: none;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 5px;
  color: #ffffff;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #c58668;
}
.btn-hidden:hover {
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 50%);
}
.btn-hidden:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}
.btn-hidden:hover {
  cursor: pointer;
}
/* 目標ここまで */

/* 貯金額 */
.saving {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  background-color: rgb(255, 255, 255);
  width: 340px;
  height: 160px;
  filter: drop-shadow(0 2px 4px rgba(0,0,0,0.8));
}
.saving::before {
  height: 20px;
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  top: -20px;
  background:
      linear-gradient(45deg,#fff 10px ,transparent 0),
      linear-gradient(315deg,#fff 10px ,transparent 0);
  background-size: 20px 20px;
}
.saving::after {
  height: 20px;
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -20px;
  background:
      linear-gradient(135deg,#fff 10px ,transparent 0),
      linear-gradient(225deg,#fff 10px ,transparent 0);
  background-size: 20px 20px;
}

.saving p {
  font-weight: bold;
  background: linear-gradient(0deg, #ACB6E5, #86FDE8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255,255,255,0.0);
  color: transparent;
}

.saving-title {
  margin-top: 30px;
  font-size: 30px;
}
.saving-total {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 50px;
}
/* 貯金額ここまで */

/* メニュー */
.menu-img-content {
  text-decoration: none;
}
.menu-icon {
  height: 200px;
}
.menu-icon3 {
  height: 170px;
}
.menu-contents {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.circle-box {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  position: relative;
}
.item:nth-child(2) {
  order: 1;
}
.item:nth-child(3) {
  /* align-self: center; */
  position: absolute;
  left: 50%;
  top: 260px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.menu-img-content > p {
  text-align: center;
  background-color:#f0f8ff;
  border: 6px outset#e6e6fa;
  margin-top: 5px;
  padding: 5px 0;
  font-weight: bold;
}
/* メニューここまで */

/* メインここまで */